@media only screen and (max-width: 1200px) {
   .main-sidebar{
       right: -220px !important;
   }
   .content-wrapper{
       margin-right:0px !important;
   }
   .main-footer{
       margin-right: 0px !important;
   }
}