.main-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 220px;
    background-color: #283555;
    -webkit-box-shadow: -9px -5px 69px -23px rgba(0,0,0,0.42);
    -moz-box-shadow: -9px -5px 69px -23px rgba(0,0,0,0.42);
    box-shadow: -9px -5px 69px -23px rgba(0,0,0,0.42);
    z-index: 10000;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.sidebar {
    padding-bottom: 10px;
    margin-top: 0px;
}
.main-sidebar a.logo{
    background-color:#283555;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    text-align: center;
    width: 220px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    font-size: 2rem;
    height: 50px;
    line-height: 50px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
}
.menu-wrapper{
    color:#465269;
}
.menu-wrapper ul li a .icon{
    margin-left: 25px;
    font-size: 1.7rem;
    margin-top: 0px;
    display: inline-block;
    vertical-align: text-bottom;
}
.menu-wrapper ul li a{
    font-size: 1.5rem;
    color: #e0e2e2;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    padding: 15px 25px;
    width: 100%;
    border-right: 7px solid transparent;
}
.menu-wrapper ul li a{  
    border-right: 7px solid transparent;
}
.menu-wrapper ul li a:hover, .menu-wrapper ul li a.active{  
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    border-right-color: #ffeb3b;
}
