<div class="main-content">
    <div class="row">
      <div class="col-md-12">
          <div class="contents-wrapper">
              <div class="content-header clearfix">
                <h1>افزودن پذیرنده</h1>
              </div>
              <div class="content-body">
                <div class="row">
                    <form action="" role="form" (submit)="editMerchant($event)" id="edit" method="POST">
                        <div class="form-content">
                            <div class="col-xs-4">
                                <div class="form-group input-field">
                                    <label for="name" class="active">نام آژانس</label>
                                    <input type="text" id="name" name="name" class="form-control input-light-color input-lg" autocomplete="off" value="{{merchant?.firstName}}">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group input-field">
                                    <label for="email" class="active">ایمیل</label>
                                    <input type="text" id="email" name="email" class="form-control input-light-color input-lg" autocomplete="off" value="{{merchant?.email}}">
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group input-field">
                                    <label for="phoneNumber" class="active"> شماره تلفن </label>
                                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control input-light-color input-lg" autocomplete="off" value="{{merchant?.phoneNumber}}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="content-footer">
                  <button class="waves-effect waves-light btn btn-custom btn-min yellow darken-4" type="submit" form="edit"> ویرایش </button>
                  <button type="submit" class="waves-effect waves-light btn btn-custom btn-min" [routerLink]="['/dashboard/merchant-acceptance']">لغو</button>
              </div>
          </div>
      </div>
    </div>
  </div>