.login-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding: 4.2em;
    background-color: #1B2944;
    img {
        border-radius: 50%;
        border: 2px solid #fff;
    }
    h1{
        font-size: 3em;
    }
    form{
        margin-top: 40px;
        .form-content{
            padding: 30px 0;
            .form-group{
                margin-bottom: 55px;
            }
        }
        label{
            font-size: 15px;
            color: #fff;
        }
        label.active{
            font-size: 14px;
        }
        #name, #password, #confirm{
            font-family: 'Roboto', 'Lato', sans-serif;
        }
        .input-lg {
            height: 40px;
            font-size: 18px;
            line-height: 1.3333333;
            border-radius: 0;
        }
        .input-light-color{
            color: #fff;
        }
        .btn-custom{
            min-width: 12vw;
        }
        .btn-custom:first-child{
            margin-left: 10px;
        }
    }
}