<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="contents-wrapper">
          <div class="content-header clearfix">
            <h1>مدیریت کاربران</h1>
            <button class="btn waves-effect waves-light float-left" [routerLink]="['new']">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="fix-cell">
                افزودن کاربر جدید
              </span>
            </button>
          </div>
          <div class="content-body">
            <div class="table-responsive">
              <table class="table md table-bordered table-hover">
                <thead>
                  <tr>
                    <th>شناسه</th>
                    <th>نام کاربری</th>
                    <th>ایمیل</th>
                    <th>نقش ها</th>
                    <th>تاریخ ایجاد</th>
                    <th>ایجاد شده توسط</th>
                    <th>وضعیت</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user?.id}}</td>
                    <td>{{user?.login}}</td>
                    <td>{{user?.email}}</td>
                    <td>
                      <span class="fix-margin" *ngFor="let authority of user.authorities">
                        <span class="label label-warning  green darken-2">{{authority}}</span>
                      </span>
                    </td>
                    <td>{{user?.createdDate}}</td>
                    <td>{{user?.createdBy}}</td>
                    <td>
                      <button type="button" class="btn green darken-4 btn-block" *ngIf="user.activated && user.login != 'admin'" (click)="changeStatus(user)">فعال</button>
                      <button type="button" class="btn green darken-4 btn-block disabled" *ngIf="user.activated && user.login == 'admin'">فعال</button>
                      <button type="button" class="btn red darken-4 btn-block" *ngIf="!user.activated" (click)="changeStatus(user)">غیرفعال</button>
                    </td>
                    <td class="text-center">
                      <button type="submit" class="btn green darken-4 first" (click)="viewMerchant(merchant)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span class="fix-cell">مشاهده</span>
                      </button>
                      <button type="submit" class="btn yellow darken-4 middle" (click)="editMerchant(merchant)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="fix-cell">ویرایش</span>
                      </button>
                      <button type="submit" class="btn red darken-4 last" data-toggle="modal" data-target="#delete" (click)="selectMerchant(merchant)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="fix-cell">حذف</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>