<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="contents-wrapper">
                <div class="content-header clearfix">
                  <h1>مدیریت پذیرنده</h1>
                  <button mat-flat-button  [routerLink]= "['add']">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="fix-cell">
                      افزودن پذیرنده ی جدید
                    </span>
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>