a {
    text-decoration: none !important;
}
.wrapper {
    height: 100%;
}
body{
    background-color: #283555 !important;
 }
 .mat-form-field-label{
    height: 50px !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #00796b !important;
}

